<html>
  <head>
    <title>Github profiles</title>
    <link href='/css/github.css' rel='stylesheet'>
  </head>
  <body>
    <form id='add_profile'>
      <input id='username' placeholder='Enter a Github username'>
      <button type='submit'>Load profile</button>
    </form>

    <div class='profile-container'>
      <div class="profile">
        <div class="left">
          <img src="https://avatars.githubusercontent.com/u/5008648?">
        </div>

        <div class="right">
          <h3>
            <a href="https://github.com/tansaku">
              tansaku
            </a>
          </h3>
          <h4>Repos: 120</h4>
          <h4>Followers: 122</h4>
        </div>
        <br clear="all">
      </div>
    </div>

    <script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
    <script src='/javascript/interface.js'></script>
  </body>
</html>